<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>old-oak.net home</title>
    <link rel="oldoak icon" href="#">
  </head>
  <body>
    <p align="center">
      <img src="static/images/oaktree.jpg" align="middle">
    </p>

    <h1 align="center">Under Construction - GLES</h1>
    <p align="center">
      <canvas id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </p>

    <script type='text/javascript'>
      const canv = document.getElementById('canvas');

      var Module = {
        canvas: canv
      };
    </script>
    <script>
      Module['locateFile'] = function(path, prefix) {
        if (path.endsWith(".wasm")) return "static/" + path;
        if (path.endsWith(".data")) return "static/" + path;
        return prefix + path;
      }
    </script>
    <script src="static/astro-pos.js"></script>
    
  </body>
</html>
